#meteorite-landings_map {
	margin: 5%;
}

#fallen-found_pie {
	margin: 5%;
	margin-left: 10;
}

#interactive_vis {
	align-self: center;
	margin: 5%;
}

#heading {
	padding: 60px;
	text-align: center;
	background: "cyan";

	color: orange;
	font-size: 350%;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;

  }

.intro {
text-align: center; /* Center-align the text horizontally */
font-family: Georgia, serif; /* Use the Georgia font */
color: white; /* Set the text color to white */
margin-bottom: 5%;
margin-left: 10%;
margin-right: 10%;
}

.paragraph {
	font-family: Georgia, serif;
	color: white;
}

.header {
	font-family: Georgia, serif;
	color: white;
}

.page {
	width: 1400px;
	margin: auto;
	box-shadow: 0px 0px 50px 10px gray;
	padding-left: 5%;
	padding-right: 5%;

}

.center {
	justify-content: center;
}

label {
	color: white;
}