#meteorite-landings_map {
	margin: 5%;
	align-self: center;
}

#area_chart {
	margin: 3%;
	margin-left: 10%;
	align-self: center;
	align-content: center;
}

#fallen-found_pie {
	margin: 5%;
	margin-left: 10;
	margin-bottom: 17%;
}

#location_pie {
	margin: 5%;
	margin-left: 10;
	margin-top: -40%;
	margin-bottom: 20%;
}

#interactive_vis {
	align-self: center;
	margin: 5%;
}

#recclass_vis {
	align-self: center;
	margin: 5%;
}

#heading {
	padding: 60px;
	text-align: center;
	background: "cyan";

	color: orange;
	font-size: 350%;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
	font-weight: bold;

  }

.intro {
text-align: center; /* Center-align the text horizontally */
font-family: Ari; /* Use the Georgia font */
color: white; /* Set the text color to white */
margin-bottom: 5%;
margin-left: 10%;
margin-right: 10%;
font-style: italic;
font-size: larger;
}

.paragraph {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

.header {
	font-family: Georgia, serif;
	color: orange;
	font-style: italic;
}

.footer {
	padding-bottom: 1%;
	font-size: small;
}

.page {
	width: 1400px;
	margin: auto;
	box-shadow: 0px 0px 50px 10px gray;
	padding-left: 5%;
	padding-right: 5%;

}

.center {
	justify-content: center;
}

label {
	color: white;
}

.green {
	color: #4CB348;
	filter: brightness(1.2);
}

.brown {
	color: #BC5100;
	filter: brightness(1.2);
}

.blue {
	color: #0080BC;
	filter: brightness(1.2);
}

b {
	color: orange;
}
